body{
  margin: 0;
  text-align: center;
  font-family: 'Merriweather', serif;
  position: relative;
}

.topContainer{
  background-color: #E4F9F5;
  position: relative;
  padding-top: 100px;
  padding-bottom: 100px ;
}

.profile{
  padding-top: 100px;
}

.middle_container{
  padding-top: 100px;
}

.ct2{
  border-collapse: collapse;
  margin: 25px auto;
  font-size: 0.9 em;
  min-width: 400px;
  width: 80%;
}

.ct2 thead tr{
  background-color: #009879;
  color: white;
  margin: 25px 0;
  text-align: left;
  padding: auto;
  font-weight: bold;
  border-radius: 20px 20px 0 0;
  overflow: hidden;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.ct2 th,
.ct2 td {
  padding: 12px 15px;
}



.ct2 tr{
  border-bottom: 1px solid #dddddd;
  text-align: left;
}

.ct2 tr:nth-of-type(even){
  background-color: #f3f3f3;
}

.ct2 tr:last-of-type{
  border-bottom: 2px solid #009879;
}


.content_table_1 tr{
  font-family: 'Merriweather', serif;
}

.ct1_right{
  text-align: left;
  width: 50%;
  text-align: justify;
  padding-right: 15%;
  width: 60%;
}

.ct1_left{
  align-items: right;
  width:40%;
  padding-left: 10%;
}

.content_table td{
  padding-right: 30px;
}

h1 {
  font-family: 'Sacramento', cursive;
  font-size: 5.625rem;
  margin-top: 100px;
  color: #66BFBF;
}

h2 {
  font-family: 'Montserrat', sans-serif;
  font-size: 2.5rem;
  color: #66BFBF;
  font-weight: normal;
  /* line-height: 2; */
}

h3{
  font-family: 'Montserrat', sans-serif;
  color: #11999E;
}

.skill-row{
  width: 50%;
  margin: 100px auto 100px auto;
  text-align: left;
  line-height: 2rem;
}

.web-icon{
  width: 25%;
  float: left;
  margin-right: 30px;
}

.mobile-icon{
  width: 25%;
  float: right;
  margin-left: 30px;
}

.bottom-container{
  display: inline;
  text-align: center;
}

a{
  color: #11999E;
}



.icons{
    width:200px; 
    height: auto;
}

.myphoto{
  border-radius: 50%;
  width: 200px;
  height: auto;
}


.top_cloud{
  position: absolute;
  right: 300px;
  top: 50;
}

.bottom_cloud{
  position: absolute;
  left: 300px;
}


hr{
  border-top: 10px dotted #88eff3;
  width: 10%;
  margin-top: 100px;
  margin-bottom: 100px;
}

.Hobbies{
  text-align: center;
  padding: 0 30% 0 30%;
}

.Hobbies {
  margin: 20px; 
}

ul {
  list-style-type: none; 
  padding: 0; 
}

li {
  margin-bottom: 20px; 
}

.linkedin{
  width: 60px;
  height: 60px;
}

.btn {
  background: #34d6d9;
  background-image: -webkit-linear-gradient(top, #34d6d9, #2980b9);
  background-image: -moz-linear-gradient(top, #34d6d9, #2980b9);
  background-image: -ms-linear-gradient(top, #34d6d9, #2980b9);
  background-image: -o-linear-gradient(top, #34d6d9, #2980b9);
  background-image: linear-gradient(to bottom, #34d6d9, #2980b9);
  -webkit-border-radius: 12;
  -moz-border-radius: 12;
  border-radius: 12px;
  text-shadow: 7px 3px 15px #666666;
  font-family: Arial;
  color: #ffffff;
  font-size: 30px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn:hover {
  background: #8ecef5;
  background-image: -webkit-linear-gradient(top, #8ecef5, #3498db);
  background-image: -moz-linear-gradient(top, #8ecef5, #3498db);
  background-image: -ms-linear-gradient(top, #8ecef5, #3498db);
  background-image: -o-linear-gradient(top, #8ecef5, #3498db);
  background-image: linear-gradient(to bottom, #8ecef5, #3498db);
  text-decoration: none;
}

.contact_me{
  margin-top: 100px;
}